<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Enciclopedia de Plantas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <h1>Agregar Planta</h1>
    <form th:action="@{/add}" th:object="${planta}" method="post">
      <label>Nombre *: <input type="text" th:field="*{nombre}" required/></label><br />
      <label>Tipo *:<input type="text" th:field="*{tipo.nombre}" placeholder="Ej: Planta de interior" required /></label><br />
      <label
        >Altura (M) *:
        <input
          type="number"
          step="0.01"
          th:field="*{altura}"
          max="100"
          min="0.1" required/></label
      ><br />
      <label>Ubicación del hallazgo *:</label>
      <input type="text" th:field="*{ubicacion}" required/>

      <label>Rareza *:</label>
      <select th:field="*{rareza}" required>
        <option value="Comun">Común</option>
        <option value="Rara">Rara</option>
        <option value="Legendaria">Legendaria</option>
      </select>

      <label>Notas de campo:</label>
      <textarea th:field="*{notasCampo}"></textarea>
      <button type="submit">Guardar</button>
    </form>
    <a href="/">Volver</a>
  </body>
</html>
