<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Enciclopedia de Plantas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Enciclopedia de Plantas</h1>

    <!-- logica para el iniciar sesion o no  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-4">
      <div class="container">
        <a class="navbar-brand fw-bold" href="/">🌿 Herbario Botánico</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto align-items-center">
            <li
              class="nav-item"
              th:if="${#authentication.principal == 'anonymousUser'}"
            >
              <a th:href="@{/login}" class="btn btn-outline-light px-4"
                >INICIAR SESIÓN</a
              >
            </li>

            <th:block th:if="${#authentication.principal != 'anonymousUser'}">
              <li class="nav-item">
                <a
                  th:href="@{/registro-planta/asistente}"
                  class="nav-link text-info fw-bold"
                  >✨ CHAT IA</a
                >
              </li>
              <li class="nav-item">
                <a th:href="@{/add}" class="nav-link">➕ Agregar Planta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/perfil">👤 Mi Perfil</a>
              </li>

              <li class="nav-item ms-lg-3">
                <div
                  class="d-flex align-items-center bg-secondary bg-opacity-25 rounded-pill px-3 py-1 border border-secondary"
                >
                  <span class="text-light small">
                    Hola, <b th:text="${#authentication.name}">Usuario</b>
                    <span
                      class="badge bg-success ms-1"
                      th:text="${usuarioActual != null ? usuarioActual.getRango() : 'Semilla'}"
                      >Rango</span
                    >
                    Tus puntos: <span th:text="${usuarioActual.puntos}"></span>
                  </span>

                  <form th:action="@{/logout}" method="post" class="ms-3">
                    <button
                      type="submit"
                      class="btn btn-sm btn-danger rounded-pill"
                    >
                      Salir
                    </button>
                  </form>
                </div>
              </li>
            </th:block>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <p th:if="${usuarioActual != null}">
      Tus puntos: <span th:text="${usuarioActual.puntos}"></span> Rango:
      <span th:text="${usuarioActual.getRango()}"></span>
    </p> -->

    <table border="1">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Altura (M)</th>
          <th>Ubicación</th>
          <th>Rareza</th>
          <th>Notas de Campo</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="planta : ${plantas}">
          <td
            th:text="${planta.creador != null ? planta.creador : 'Anónimo'}"
          ></td>
          <td>
            <img
              th:if="${planta.fotoUrl != null}"
              th:src="${planta.fotoUrl}"
              alt="Foto planta"
              style="
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 8px;
              "
            />
            <span th:if="${planta.fotoUrl == null}">Sin foto</span>
          </td>
          <td th:text="${planta.nombre}"></td>
          <td
            th:text="${planta.tipo != null ? planta.tipo.nombre : 'Sin tipo'}"
          ></td>
          <td th:text="${planta.altura}"></td>
          <td th:text="${planta.ubicacion}"></td>
          <td th:text="${planta.rareza}"></td>
          <td th:text="${planta.notasCampo}"></td>
        </tr>
      </tbody>
    </table>

    <div class="container mt-5">
      <h2 class="text-center mb-4">🏆 Ranking de Botánicos</h2>
      <div class="table-responsive">
        <table class="table table-hover shadow-sm">
          <thead class="table-dark">
            <tr>
              <th>Puesto</th>
              <th>Usuario</th>
              <th>Puntos</th>
              <th>Rango</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user, iterStat : ${ranking}">
              <td th:text="${iterStat.count}">1</td>
              <td th:text="${user.username}" style="font-weight: bold">
                Nombre
              </td>
              <td>
                <span class="badge bg-primary" th:text="${user.puntos} + ' pts'"
                  >0 pts</span
                >
              </td>
              <td>
                <span
                  class="badge"
                  th:classappend="${user.rango == 'Maestro Botánico' ? 'bg-warning text-dark' : (user.rango == 'Explorador' ? 'bg-info' : 'bg-secondary')}"
                  th:text="${user.rango}"
                  >Novato</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:if="${#authentication.principal != 'anonymousUser'}">
      <a th:href="@{/registro-planta/asistente}" class="btn-login"
        >CHAT DE IA</a
      >
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
      integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
